/* Make app dark mode */
body {
  background-color: #282c34;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  color: #fff;
}

.post_container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;

  text-shadow: 1px 1px 1px #000;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

p {
  font-size: 1.1rem;
  text-align: center;
}


footer {
  margin-top: 2rem;
  text-align: center;
}